{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href="/static/jquery-jvectormap-2.0.5.css" type="text/css" media="screen"/>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="/static/jquery-jvectormap-2.0.5.min.js"></script>
    <script src="/static/jquery-jvectormap-world-merc.js"></script>
{% endblock %}

{% block content %}
    <div class="page-container">
        {% if current_user %}
            <div class="title-container">
                <h1 class="homepage-title">Explore new languages</h1>
                <p>Click on a country to start listening</p>
            </div>
            <div class="search-container">
                <form id="search" action="/search" method="get" >
                    <!--the name="q" is the name of the key in the query param (e.g. /search?q=intentions) -->
                    <input class="search-input" type="text" name="q" placeholder="search for music">
                    <!-- <input class="search-button" type="submit"> -->
                </form>
            </div>
            <div class="display-container">

                <div id="world-map" style="width: 1200px; height: 600px"></div>
            </div>
        {% else %}
            <h1 class="landing-page-title">Listen to music from the world</h1>

            <video class="world-rotate" autoplay loop>
              <source src="/static/world_rotate.webm" type="video/webm">
              Your browser does not support HTML5 video.
            </video>
        {% endif %}
    </div>

    <script>
        $(function(){
            $('#world-map').vectorMap({
                map: 'world_merc',
                backgroundColor: 'black',
                regionStyle: {
                    hover: {
                        fill: 'turquoise',
                    },
                },
                zoomOnScroll: false,
                zoomMax: 1,
                onRegionClick: function(_, code) {
                    window.location.href = `/country_playlist/${code}`;
                }
            });
        });
    </script>

{% endblock %}