{% extends "base.html" %}

{% block content %}
    <div class="page-container">
        <div class="title-container">
            <h1>Searches for "{{search_string}}"</h1>
        </div>
        
        <div class="display-container">
            <div class="display-image-content-container">
                <!-- default earth picture for search page -->
                <img class="display-image-content-image" src="https://geology.com/google-earth/google-earth.jpg"></img>
            </div>
            <div class="items-display-container">
                <ol class="items-display-list">
                    {% for song in search_items['items'] %}
                        <li class="items-display-item" onclick="location.href = '{{'/song/'+song['id']}}';" image_src="{{song['album']['images'][0]['url']}}">
                            <!-- image shown in the bar -->
                            <img class="items-display-image" src="{{song['album']['images'][-1]['url']}}"/>
                            <div class=items-display-title>
                                {{song['name'] + " - " + song['artists'][0]['name']}}
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>      
        </div>
    </div>
    <script>
        // When you hover over an individual song, run the inside function
        // https://www.w3schools.com/jquery/event_mouseover.asp
        // example: e is the event that is triggered by Dance Monkey
        $('.items-display-item').mouseover(function(e){
            // e.currentTarget: get's the current element that the mouse is hovering over it.
            // e = element, tells you the element which you are hovering (example, we have 50 songs, it tells you which one you are hovering)
            // https://www.w3schools.com/jsref/event_currenttarget.asp
            // element = Dance Monkey
            const element = e.currentTarget;
            // JQuery query selector gets class="display-image-content-image". Select all elements that have this class, and take the first element (we only expect to find one element from the array)
            // Get the default album cover (Russia Top 50). This just gets the image tag. 
            // JQuery selector finds a list of 1 (jquery selector vs. tag)
            const image = $('.display-image-content-image')[0];
            // Change the image (from above) to the song that the user is hovering over (change the image source)
            image.src = element.getAttribute('image_src');
        }).mouseout(function(e){ // mouseout (when you hover over an image and remove your mouse, the default will change back to the globe image.)
            const image = $('.display-image-content-image')[0];
            image.src = "https://geology.com/google-earth/google-earth.jpg";
        })
    </script>
{% endblock %}