{% extends "base.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div id="bg">
            <div id="blackLayer"></div>
            <img src="{{current_song['album']['images'][0]['url']}}"/>
        </div>
       
        <div id="main">
            <div id="image">
                {% if current_song['album'] and current_song['album']['images'] %}
                    <img src="{{current_song['album']['images'][0]['url']}}"></img>
                {% else %}
                    <img></img>
                {% endif %}
            </div>
            <div id="player">
                <div id="songTitle">{{current_song['name']}}</div>
                <div id="buttons">
                    <button id="pre" onclick="pre()"><img src="/static/Pre.png" height="90%" width="90%"/></button>
                    <button id="play"><img src="/static/Pause.png"/></button>
                    <button id="next" onclick="next()"><img src="/static/Next.png" height="90%" width="90%"/></button>
                </div>
                
                <div id="seek-bar">
                    <div id="fill"></div>
                    <div id="handle"></div>
                </div>
            </div>
        </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        // https://developer.spotify.com/documentation/web-playback-sdk/quick-start/
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = "{{current_user.access_token}}";
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); }
            });
            const songTitle = document.getElementById("songTitle");
            const fillBar = document.getElementById("fill");

            // Error handling
            player.addListener('initialization_error', ({ message }) => { console.error(message); });
            player.addListener('authentication_error', ({ message }) => { console.error(message); });
            player.addListener('account_error', ({ message }) => { console.error(message); });
            player.addListener('playback_error', ({ message }) => { console.error(message); });

            // Playback status updates
            player.addListener('player_state_changed', state => { console.log(state); });
    
            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
                play({
                    playerInstance: player,
                    spotify_uri: '{{current_song["uri"]}}',
                });
                getState()
            });
    
            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
            });

            // https://developer.spotify.com/documentation/web-playback-sdk/reference/#api-spotify-player-previoustrack
            const play = ({
                spotify_uri,
                playerInstance: {
                    _options: {
                    getOAuthToken,
                    id
                    }
                }}) => {
                    getOAuthToken(access_token => {
                        console.log(access_token)
                        console.log(token)
                        fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
                        method: 'PUT',
                        body: JSON.stringify({ uris: [spotify_uri] }),
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${access_token}`
                        },
                        });
                    });
                };

            function getState() {
                setTimeout(getState,1000)
                player.getCurrentState().then(state => {
                    const position = state.position / state.duration
                    fillBar.style.width = position * 100 +'%';
                })
            }

            const playButton = document.getElementById("play");
            playButton.onclick = function() {
                player.getCurrentState().then(state => {
                    if (state.paused) {
                        player.resume()
                        $("#play img").attr("src","/static/Pause.png");
                    } else {
                        player.pause()
                        $("#play img").attr("src","/static/Play.png");
                    }
                })  
            }
            
            // Connect to the player!
            player.connect();
        };
        
    </script>
{% endblock %}