{% extends "base.html" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="bg">
            <div id="blackLayer"></div>
            <img src="{{current_song['album']['images'][0]['url']}}"/>
        </div>
       
        <div id="main">
            <div id="image">
                {% if current_song['album'] and current_song['album']['images'] %}
                    <img src="{{current_song['album']['images'][0]['url']}}"></img>
                {% else %}
                    <img></img>
                {% endif %}
            </div>
            <div id="player">
                <div id="songTitle">{{current_song['name'] + " - " + current_song['artists'][0]['name']}}</div>
                <div id="buttons">
                    <div id="start-time" class="play-time">0:00</div>
                    <button id="play"><i id="button-icon" class="material-icons">pause</i></button>
                    <div id="end-time" class="play-time">0:00</div>
                </div>
                
                <div id="seek-bar">
                    <div id="fill"></div>
                </div>
            </div>
        </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        // https://developer.spotify.com/documentation/web-playback-sdk/quick-start/
        // created new event listener (load music player)
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = "{{current_user.access_token}}";
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); }
            });
            const songTitle = document.getElementById("songTitle");
            const fillBar = document.getElementById("fill");

            var clicked = false;
            const duration = {{current_song['duration_ms']}};

            // Error handling
            player.addListener('initialization_error', ({ message }) => { console.error(message); });
            player.addListener('authentication_error', ({ message }) => { console.error(message); });
            player.addListener('account_error', ({ message }) => { console.error(message); });
            player.addListener('playback_error', ({ message }) => { console.error(message); });

            // Playback status updates
            // player.addListener('player_state_changed', state => { console.log(state); });
    
            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
                play({
                    playerInstance: player,
                    spotify_uri: '{{current_song["uri"]}}',
                });
                getState()
            });
    
            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            // https://developer.spotify.com/documentation/web-playback-sdk/reference/#api-spotify-player-previoustrack
            const play = ({
                spotify_uri,
                playerInstance: {
                    _options: {
                    getOAuthToken,
                    id
                    }
                }}) => {
                    getOAuthToken(access_token => {
                        fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
                        method: 'PUT',
                        body: JSON.stringify({ uris: [spotify_uri] }),
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${access_token}`
                        },
                        });
                    });
                };

            function getState() {
                setTimeout(getState, 1000)
                player.getCurrentState().then(state => {
                    if (state.paused) {
                        $("#button-icon").html("play_arrow");
                    } else {
                        $("#button-icon").html("pause");
                    }
                    const position = state.position / state.duration;
                    fillBar.style.width = position * 100 +'%';

                    const currentMS = Math.floor(position*duration);
                    const currentTime = Math.floor(currentMS/(60*1000)) + ":" + Math.floor((currentMS/1000)%60).toString().padStart(2, "0");
                    const totalTime = Math.floor(duration/(60*1000)) + ":" + Math.floor((duration/1000)%60).toString().padStart(2, "0");
                    $("#start-time").html(currentTime);
                    $("#end-time").html(totalTime);
                })
            }


            const playButton = document.getElementById("play");
            playButton.onclick = function() {
                player.getCurrentState().then(state => {
                    if (state.paused) {
                        player.resume();
                        $("#button-icon").html("pause");
                    } else {
                        player.pause();
                        $("#button-icon").html("play_arrow");
                    }
                })  
            }
            
            const progressBar = document.getElementById("seek-bar");
            progressBar.onmousedown = function(e){
                clicked = true;
                const progress = e.offsetX/300;
                player.seek(progress*duration);
            }

            progressBar.onmouseup = function(e){
                clicked = false;
            }
            progressBar.onmouseleave = function(e){
                clicked = false;
            }

            progressBar.onmousemove = function(e){
                if (clicked === true) {
                    const progress = e.offsetX/300;
                    player.seek(progress*duration);
                }
            }
            
            // Connect to the player!
            player.connect();
        };
        
    </script>
{% endblock %}